<template>
  <div v-if="chat">
    <div style="width: 100%;">
      <input type="text" style="float: left; width: 90%;" v-model="message">
      <button style="width: 10%;" @click="send_message()">發送</button>
    </div>
    <textarea
      style="width: 100%;"
      rows="10"
      disabled
    >{{ reverse_messages }}</textarea>
  </div>
</template>
<script>
import { Base64 } from 'js-base64';
import clone_deep from 'clone-deep';

export default {
  data() {
    return {
      chat: null,
      messages: [],
      message: '',
      topic: null,
      user: null
    }
  },
  created() {
    if(this.$route.query.user && this.$route.query.topic) {
      this.user = this.$route.query.user;
      this.topic = this.$route.query.topic;
      this.chat = this.$io.getSubscription(`chat:${ Base64.encode(this.topic) }`);
      if(!this.chat) {
        this.chat = this.$io.subscribe(`chat:${ Base64.encode(this.topic) }`);
      }
      window.addEventListener("keypress", this.listener);

      this.chat.on('get_message', (message) => {
        this.messages.push(message);
      })
    }
  },
  computed: {
    reverse_messages() {
      let messages = clone_deep(this.messages);
      return messages.reverse().join('\n');
    }
  },
  methods: {
    send_message() {
      try{
        if(this.message) {
          this.chat.emit('message', `${ this.user }: ${ this.message }`);
          this.message = '';
        }
      } catch(e) {
        console.error(e);
      }
    },
    listener(evt) {
      if(evt.keyCode === 13) {
        this.send_message();
      }
    },
  }
}
</script>