<template>
  <div style="position: absolute; left: 50%; top: 50%; margin-left: -200px; margin-top: -60px; width: 400px; height: 120px;">
    聊天主題
    <input type="text" v-model="topic" style="width: 200px; height: 30px;">
    <br/>
    名稱&emsp;&emsp;
    <input type="text" v-model="user_name" style="width: 200px; height: 30px;">
    <br/>
    <button style="width: 100px; height: 30px;" @click="login()">Login</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user_name: '',
      topic: ''
    }
  },
  created() {
    window.addEventListener("keypress", this.listener);
  },
  methods: {
    listener(evt) {
      if(evt.keyCode === 13) {
        this.login();
      }
    },
    login() {
      if(this.user_name && this.topic) {
        this.$router.replace({
          path: '/project/chat/basic',
          query: {
            user: this.user_name,
            topic: this.topic
          }
        })
      }
    }
  }
}
</script>