<template>
  <div
    id="popup"
    :class="{
      'white-popup': true,
      'popup-w-s': true,
      'popup-L': true,
      'mfp-hide': !show
    }"
    ref="modal"
  >
    <slot></slot>
  </div>
</template>
<script>
import $ from "jquery";
import "magnific-popup";
export default {
  name: "magnific_popup_modal",
  props: {
    modalname: {
      type: String,
      default: ""
    },
    show: {
      type: Boolean,
      default: false
    },
    config: {
      type: Object,
      default: function() {
        return {
          // magnific defaults
          mainClass: "mfp-fade",
          removalDelay: 300
        };
      }
    },
    option: {
      type: Object,
      default: function() {
        return {
          // magnific defaults
          candidate: {
            id: 0
          }
        };
      }
    },
    close_action: {
      type: Function,
      default: function() {}
    }
  },
  data() {
    return {
      visible: this.show,
      stack: null,
      vuexData: this.$store.state
    };
  },
  created() {
    this[this.visible ? "open" : "close"]();
  },
  watch: {
    show(newObj, oldObj) {
      if (newObj === false) {
        $.magnificPopup.close();
        this.$emit("close");
      }else{
        this.open();
      }
    }
  },
  methods: {
    /**
     * Opens the modal
     * @param {object} options Last chance to define options on this call to Magnific Popup's open() method
     */
    open: function(options) {
      if (!!$.magnificPopup.instance.isOpen && this.visible) {
        return;
      }
      let root = this;

      this.config.items = { src: $(this.$refs.modal), type: "inline" };
      this.config.callbacks = {
        open: function() {
          root.visible = true;
          root.$emit("open");
        },
        close: root.close
      }
      this.config.options = options || {};

      $.magnificPopup.open(this.config);
    },
    /**
     * Closes the modal
     */
    close: function() {
      this.$store.dispatch('openModal', { show: false });
      this.close_action();
    },
    /**
     * Toggles modal open/closed
     */
    toggle: function() {
      this[this.visible ? "close" : "open"]();
    }
  }
};

</script>
<style>
.mfp-fade.mfp-bg.mfp-ready {
    opacity: .65;
}

.white-popup {
  margin: 5% auto;
  position: relative;
  border: solid 1px #57595A;
}

.mfp-wrap~* {
  -webkit-filter: blur(0.4rem);
  -moz-filter: blur(0.4rem);
  -o-filter: blur(0.4rem);
  -ms-filter: blur(0.4rem);
  filter: blur(0.4rem);
}

.mfp-content {
  max-width: 80%;
}

/*.popup-L {
  max-width: 90%;
  min-width: 90%;
}

.popup-L .setBox .top_title {
  max-width: 90%;
}*/

</style>