<template>
  <div class="md">
    <div v-html="md">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    md: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
.md {
  background-color: #EAE5E5;
}
.md pre {
  background-color: rgba(255, 255, 255, 0.75);
}
</style>