<template>
  <div class="text-center img-circle">
    <div class="circle-spacer">
    </div>
    <img
      :src="src"
      class="img-fluid"
      :style="{ 'border-radius': `${radius}% !important` }"
    />
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      default: ''
    },
    radius: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style>
.img-circle {
  width: 100%;
  margin: 1%;
  text-align: center;
  position: relative;
  display: inline-block;
}
.img-circle img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  float: none;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.img-circle .circle-spacer{
  position: relative;
  padding-top: 100%;
  float: none;
}
</style>