<template>
  <div>
    <div style="width: 100%; margin-bottom: 50px; display: flex; position: sticky; top: 0;">
      <input v-model="url" @change="get_image()" style="width: 80%; height: 2rem;">
      <button @click="url = ''; images = [];" style="width: 20%; height: 2rem; border: solid 1px; background-color: #FFF;">清空</button>
    </div>
    <div v-for="(img, index) in images" :key="index" style="max-width: 100%; text-align: center;">
      <img :src="img" style="max-width: 100%;">
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      url: null,
      images: [],
      title: null
    }
  },
  watch: {
    url: function(value) {
      if(value) {
        this.$router.replace({ path: this.$route.path, query: { url: value } })
      } else {
        this.$router.replace({ path: this.$route.path })
      }
    }
  },
  created() {
    if(this.$route.query && this.$route.query.url) {
      this.url = this.$route.query.url;
      this.get_image();
    }
  },
  methods: {
    async get_image() {
      this.images = [];
      this.title = null;
      if(this.url) {
        let result = await this.$axios.get(`/order/html_image?url=${ this.url }`)
        if(result.data && result.data.images && result.data.images.length > 0) {
          this.images = result.data.images;
          this.title = result.data.name;
        }
      }
    }
  },
  head () {
    return {
      title: `other${this.title ? '-' + this.title : ''}`
    }
  }
}
</script>