<template>
  <div id="root" style="min-height: 100vh;">
    <nav id="navbar" class="container navbar">
      <a
        class="navbar-brand"
        @click="$router.replace(vuexData.home)"
        style="margin: 0;"
      >
        <h3 class="font-weight-bold">
          個人網站
        </h3>
      </a>
      <nuxt-link
        v-for="(view, index) of views"
        :key="index"
        class="navbar-brand font-weight-bold m-0"
        :class="{ active: new RegExp(`^/${view}/?$`).test($route.path) }"
        :to="`/${view}`"
      >
        {{ view.toUpperCase() }}<br/>
      </nuxt-link>
    </nav>
    <nuxt id="child-page" />
<!--     <MagnificPopupModal
      :show="vuexData.openModal.modalName.length !== 0"
      :modalname="vuexData.openModal.modalName"
      :option="vuexData.openModal.option"
      ref="modal"
    >
      
    </MagnificPopupModal> -->
  </div>
</template>

<script>
import MagnificPopupModal from '~/components/MagnificPopupModal.vue';

export default {
  components: {
    MagnificPopupModal
  },
  data() {
    return {
      vuexData: this.$store.state,
      views: ['home', 'experience', 'projects', 'notes', 'other']
    }
  },
  created() {
    this.$store.dispatch('update_notes');
  }
}
</script>

<style>
#root, #navbar {
  background-color: #EAE5E5;
}
#navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px rgba(87, 89, 90, 0.3) solid;
  min-height: 60px;
  max-height: 100px;
}
#child-page {
  padding-top: 40px;
  padding-bottom: 40px;
}
hr {
  margin: 5% 0;
}

.content {
  padding: 0 20%;
}

a {
  cursor: pointer;
}
a.navbar-brand {
  color: #4D4D4D !important;
}
a.active {
  color: #61D0D4 !important;
}

p {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: rgba(77, 77, 77, 1);
}

body::-webkit-scrollbar {
  display: none;
}

/*
底色 #EAE5E5 rgba(234, 229, 229, 1)
文字 #4D4D4D rgba(77, 77, 77, 1)
文字 #57595A rgba(87, 89, 90, 1)

背景 #E83556 rgba(232, 53, 86, 1)
背景 #61D0D4 rgba(97, 208, 212, 1)
背景 #D1C926 rgba(209, 201, 38, 1)
*/

</style>