<template>
  <div></div>
</template>

<script>
export default {
  async created() {
    let result, self = this;
    if(this.$route.query && this.$route.query.code) {
      let code = this.$route.query.code;
      result = await this.$axios.post('/google', {
        code: code
      })
      if(result && result.data === 'success') {
        console.log('成功')
      } else {
        console.log('失敗')
      }
    }
    await setTimeout(() => {
      self.$router.replace({ path: '/home' });
    }, 3000)
  }
}
</script>