<template>
  <div class="container experience">
    <div class="row content" style="padding-left: 10%; padding-right: 10%; position: relative;">
      <div style="width: 100%;">
        <div class="list" v-for="(list, index) in lists" :key="index">
          <svg class="time-point" style="left: 16%;">
            <circle cx="50%" cy="50%" r="25%" fill="rgba(209, 201, 38, 1)"/>
          </svg>
          <p style="margin-left: 30%;">
            <span>{{ list.time }}</span><br>
            {{ list.text }}
          </p>
        </div>
      </div>
      <div class="time-line">
        <svg style="height: 100%; width: 1.8rem;">
          <line x1="50%" y1="5%" x2="50%" y2="95%" style="stroke-width: 5;" />
          <line x1="50%" y1="4.5%" x2="25%" y2="6.5%" style="stroke-width: 3;" />
          <line x1="50%" y1="4.5%" x2="75%" y2="6.5%" style="stroke-width: 3;" />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'index',
  data() {
    return {
      lists: [
        { time: '2019/04/15 -', text: '後端工程師 - 凱茂股份有限公司' },
        { time: '2019/01 - 2019/03', text: '展場工讀生 - 御匠空間設計' },
        { time: '2018/11 - 2018/12', text: '展場工讀生 - 台中市政府' },
        { time: '2014/09 - 2018/06', text: '高雄科技大學 - 資訊管理系畢業' }
      ]
    }
  }
}
</script>

<style>

.experience .list {
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
  width: 100%;
}

.experience .list p {
  font-size: 1.5rem;
}

.experience .list p span {
  font-size: 1.2rem;
}

.experience .list svg {
  position: absolute;
  margin-top: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
}

.experience .time-line {
  text-align: center;
  position: absolute;
  height: 100%;
  left: 22.5%;
}

.experience .time-line svg line {
  stroke: rgba(209, 201, 38, 1);
}

</style>