<template>
  <div class="container">
    <div class="row content" style="padding: 0 25%;">
      <ShapeImage src="/IMG_1250.JPG" :radius="50" style="max-width: 300px; max-height: 300px; margin: auto;"/>
    </div>
    <hr>
    <div class="row content" style="min-height: 500px;">
      <p style="text-align: center; width: 100%;">
        <span style="font-size: 2.5rem;">王君騏</span>
        <br/>
        <span style="font-size: 1.25rem;">Junchi, Wang</span>
        <br/><br/>
        <span style="font-size: 1.5rem; line-height: 3rem; text-align: left;">
          後端工程師
          <br/>
          Taichung, Taiwan
          <br/>
          benson26365156@gmail.com
        </span>
      </p>
    </div>
  </div>
</template>

<script>
import ShapeImage from '~/components/ShapeImage.vue'

export default {
  components: {
    ShapeImage
  },
  layout: 'index',
}
</script>