<template>
  <div>
  </div>
</template>

<script>
export default {
  layout: 'index',
  data() {
    return {
      VuexData: this.$store.state
    }
  },
  created() {
    this.$router.replace({ path: this.VuexData.home })
  }
}
</script>