<template>
  <div class="container notes">
    <div class="content row">
      <div :class="{ 'col-8': tags_list }">
        <div class="row">
          <div
            v-for="(list, index) in filter_notes"
            :key="index"
            :style="{ margin: 'auto', opacity: (list ? 1 : 0) }"
          >
            <div
              @click="show_content(list)"
              class="card notes-row"
            >
              <a class="card-body" v-if="list">
                <p style="overflow: hidden; height: 1.7rem; font-size: 1.1rem;">{{ list.title }}</p>
                <span style="font-size: 0.5rem; bottom: 1rem; left: 1.25rem; position: absolute;">{{ list.tags.map(tag => `#${tag}`).join(' ') }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4" v-if="tags_list">
        <ul class="list-group" :style="{ height: `${screen_height*0.6}px` }">
          <a
            @click="select_tag(tag)"
            v-for="(tag, index) in tags"
            :key="index"
          >
            <li :class="{ 'list-group-item': true, active: on_tag === tag }">
              {{ tag }}
            </li>
          </a>
        </ul>
      </div>
    </div>
    <MagnificPopupModal :show="show === 'text'" modalname="show" :close_action="() => {show = ''; note = null;}">
      <div style="
        width: 100%;
        border: solid 0.5px #000;
        margin: auto;
        border-radius: 10px;
        background-color: #EAE5E5;
      ">
        <div style="width: 80%; margin: 5% auto;" v-if="note">
          <MarkdownBlock :md="String_to_md(note.content)"/>
        </div>
      </div>
    </MagnificPopupModal>
  </div>
</template>

<script>
import MarkdownBlock from '~/components/MarkdownBlock.vue';
import MagnificPopupModal from '~/components/MagnificPopupModal.vue';
import { Remarkable } from 'remarkable';
const md = new Remarkable();

export default {
  layout: 'index',
  components: {
    MarkdownBlock,
    MagnificPopupModal
  },
  data() {
    return {
      vuex_data: this.$store.state,
      show: '',
      note: null,
      tags_list: false,
      on_tag: '全部',
      screen_height: null
    }
  },
  computed: {
    filter_notes() {
      let notes = this.notes.filter(note => (this.on_tag === '全部') || note.tags.includes(this.on_tag))
      while(notes.length % 2 !== 0) {
        notes.push(null)
      }
      return notes;
    },
    notes() {
      let notes = [
        ...this.vuex_data.notes.filter(note => note.isStarred).sort((a, b) => (a.title > b.title ? 1 : -1)),
        ...this.vuex_data.notes.filter(note => !note.isStarred).sort((a, b) => (a.title > b.title ? 1 : -1))
      ];
      return notes;
    },
    tags() {
      let tags = [];
      this.notes.forEach(note => {
        note.tags.forEach(tag => {
          if(!tags.includes(tag)) {
            tags.push(tag);
          }
        })
      })
      tags = [
        '全部',
        ...tags.sort((a, b) => (a.toUpperCase() > b.toUpperCase() ? 1 : -1))
      ];
      return tags;
    }
  },
  async created() {
    this.change_scroll_width();
    window.addEventListener("orientationchange", this.change_scroll_width, false);

    this.$store.dispatch('set_notes');
  },
  methods: {
    change_scroll_width() {
      this.tags_list = (window.screen.width >= 736);
      this.screen_height = window.screen.height;
    },
    String_to_md(str) {
      return md.render(str);
    },
    show_content(list) {
      if(list) {
        this.note = list;
        this.show = 'text';
      }
    },
    select_tag(tag) {
      window.scrollTo(0,0);
      this.on_tag = tag;
    }
  },
  beforeDestroy() {
    window.removeEventListener("orientationchange", this.change_scroll_width);
  }
}
</script>

<style>
.notes .content {
  padding-left: 0;
  padding-right: 0;
}
.notes .notes-row {
  width: 20rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 0.5px #000;
  border-radius: 5px;
  margin: 6px 8px;
}
.notes .card-body {
  padding: 1rem 1.25rem;
}
.notes .list-group {
  position: sticky;
  top: 120px;
  overflow-y: auto;
}
.notes .list-group a {
  padding: 1px;
}
.notes .list-group-item {
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  border: 0px;
  background-color: inherit;
  color: #4D4D4D;
}
.notes .list-group-item.active {
  background-color: #61D0D4;
  border-color: #61D0D4;
  opacity: 0.9;
  color: #FFF;
}
</style>