<template>
  <div class="content projects">
    <div class="row">
      <div
        class="projects-row"
        v-for="project of projects"
        @click="jump_to(project.url)"
      >
        {{ project.title }}<br/>
        {{ project.description }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'index',
  data() {
    return {
      projects: [
        {
          title: 'WebSocket 練習',
          url: '/project/chat',
          description: ''
        },
        {
          title: '第三方登入(Github)',
          url: 'https://github.com/chi0307/exercise-express',
          description: 'Use express, typescript, mongodb, webpack, babel, passport'
        },
      ]
    };
  },
  methods: {
    jump_to(url) {
      if(!/https?:\/\//.test(url)) {
        let protocol;
        if(/(localhost|0\.0\.0\.0|127\.0\.0\.1)/.test(location.host)) {
          protocol = 'http://';
        } else {
          protocol = 'https://';
        }
        url = `${ protocol }${ location.host }${ /^\//.test(url) ? '' : '/' }${ url }`;
      }
      window.open(url, '_blank');
    }
  }
}
</script>

<style>
.projects .projects-row {
  height: 100px;
  width: 100%;
  padding: 1rem 1.25rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 0.5px #000;
  border-radius: 5px;
  margin: 6px 8px;
  cursor: pointer;
}
</style>